<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.android.workout">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".utils.setLanguage"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.RestDayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExcerciseStartedActivity"
            android:theme="@style/AA"

            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ExcerciseStartActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TipsActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ExcerciseDetailActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ExcerciseActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AlarmMainActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MealsMainActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.CalculateActivity"
            android:theme="@style/AA"
            android:screenOrientation="portrait"/>
        
        <service android:name=".fcm.MyFirebaseMessagingService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.MyJobService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.NotificationPublisher" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name=".receiver.NOTIFY_ACTION"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.DailyBrodcast" android:enabled="true" android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.NotificationReceiver" android:enabled="true" android:exported="true"/>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/icon_notification"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>

    </application>

</manifest>